.venue-church h1 {
  font-family: 'Andasia', sans-serif;
  font-size: 4rem;
  text-align: center;
  color: #F8F1E7;
  font-weight: 100; 
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.4);
}

.venue-church-content {
  display: flex;
  text-align: center;
}

.church-img {
  width: 50%;
  border-radius: 10px;
  object-fit: cover;
}

.church-details {
  position: relative; 
  border-radius: 8px;
  margin-left: 20px;
  padding: 20px;
  z-index: 1;
}

.church-details::before {
  content: "";
  position: absolute; 
  top: 50px;
  left: 0;
  width: 100%;
  height: 65%;
  border-radius: 10px;
  opacity: 0.6;  
  z-index: -1;
}


.church-detail {
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  color: #F8F1E7;
  font-weight: 500;
}

.church-details a {
  font-family: 'Cormorant Garamond', serif;
  font-size: 25px;
  color: #F8F1E7;
  font-weight: 500;
}

.direction-link {
  color: #F8F1E7;
  font-weight: bold;
  text-decoration: none;
  margin-top: 20px;
}

.direction-link:hover {
  text-decoration: underline;
}

.small-p {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4rem;
  color: #F8F1E7;
  margin-top: 20px;
}

.venue-church-content {
  display: flex;
  text-align: center;
  position: relative; 
}

.ring-img {
  position: absolute;
  bottom: -135px;
  left: 75%;
  transform: translateX(-50%);
  width: 200px; 
  z-index: -1;
  opacity: 1;
}

.venue-church {
    padding-top: 100px;
}


@media (max-width: 768px) {
  .venue-church {
    padding: 0 16px;
  }

  .venue-church h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .venue-church-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 12px;
  }

  .church-img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }
  

  .church-details {
    width: 100%;
  }

  .church-detail {
    font-size: 19px;
    line-height: 1.5;
  }

  .direction-link {
    display: inline-block;
    font-size: 19px;
    word-break: break-word;
  }

  .small-p {
    font-size: 14px;
  }

  .ring-img {
    width: 200px;
    height: auto;
  }

  .church-details::before {
    height: 75%;
  }
}