
.save-date {
    text-align: center;
    margin: 1rem 0;
    /* padding: 2rem; */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    position: relative;
    z-index: 0;
    overflow: hidden; /* prevent overflow issues */
}

/* BACKGROUND (bottom layer) */
.save-date::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.6;
    z-index: 0; /* lowest */
}

/* SECOND IMAGE (middle layer) */
.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6; /* transparency */
    z-index: 1;
}

/* TEXT CONTENT (top layer) */
.save-date > *:not(.overlay) {
    position: relative;
    z-index: 2;
}

.save-date h1 {
    font-family: 'Andasia', serif;
    font-size: 7rem;
    font-weight: 540;
    color: #F8F1E7;
    letter-spacing: 4px;
    margin-bottom: 1.5rem;
}

.save-date .content {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 2rem;
    margin-bottom: 1rem;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.save-date {
    --date-border-color: #ffffff;
    --date-border-width: 2px;
    --date-border-gap: 1.5rem;
}

/* .save-date .date,
.save-date .time {
    padding: 0 1.5rem;
} */

/* .save-date .date {
    border-right: var(--date-border-width) solid var(--date-border-color);
    padding-right: calc(1.5rem + var(--date-border-width));
    margin-right: var(--date-border-gap);
} */

.datetime {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    font-size: 1.2rem;
    color: #F8F1E7;
}

/* .datetime span {
    padding: 0.5rem 1rem;
    background: #f5ebe0;
    border-radius: 30px;
} */


.names {
    text-align: center;
    color: #F8F1E7;
}

.names h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 6rem;
    margin: 0;
    letter-spacing: 3px;
    font-weight: 900;
}


.desc {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.5rem;
    color: #F8F1E7;
}

.date {
    margin-left: 2rem;
    padding-right: 2rem;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 3rem;
    color: #F8F1E7;
    border-right: 7px solid #F8F1E7;
}

.time {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 2rem;
    color: #F8F1E7;
    font-weight: 600;
}

.day {  
    text-align: center;
    margin-top: -50px;
    margin-bottom: -50px;
    font-size: 10rem;
    font-weight: 600;
}


.amp {
    font-family: 'Cormorant Garamond', serif;
    font-size: 6rem;
    margin: -20px;
    color: #F8F1E7;
}


@media (max-width: 768px) {
    .date {
        font-size: 1.5rem;
    }
    

    .save-date h1{
        font-size: 3rem;
    }

    .time {
        font-size: 1.5rem;
    }

    .desc {
        font-size: 1.5rem;
    }
    
    .day {
        font-size: 3rem;
        font-weight: 600;
    }
}